html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* GLOBAL CSS */

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.main-container {
  width: 1140px;
  margin: 0 auto;
}
.primary-color {
  color: #0b1460;
}
.secondary-color {
  color: #2667ff;
}
.tertiary-color {
  color: #707185;
}
.white {
  color: #ffffff;
}
.light-grey {
  color: #b2bae8;
}
.yellow {
  color: #ffc600;
}
.green {
  color: #07f6bd;
}
.t-center {
  text-align: center;
}
.subtitle {
  margin-top: 15px;
  font-size: 20px;
}

/* SERVICES */
.services {
  padding: 60px 0;
}
.services p {
  margin-top: 15px;
}
.content {
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 80px;
  margin-top: 20px;
}
.content {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content p {
  margin-top: 10px;
  line-height: 30px;
}
.carteGauche {
  display: flex;
  flex-direction: column;
}
.carteDroite {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.carte {
  border-radius: 10% 10%;
  height: 250px;
  width: 220px;
}
.carte img {
  margin-top: 20px;
  margin-bottom: 30px;
}
.carte1 {
  background: #fffcf5;
}
.carte2 {
  background: #fff7fc;
  margin-top: 10px;
}
.carte3 {
  background: #fff8f5;
}
.carte4 {
  background: #f5f9fc;
  margin-top: 10px;
}
.sectionServicesIllustration {
  max-width: 300px;
  margin-left: 50px;
}
.sectionServicesIllustration {
  max-width: 480px;
  margin-left: 50px;
}

/* TITRE DES CAS */
.cas {
  margin-top: 50px;
  background: #f5f9fc;
  padding-top: 50px;
  padding-bottom: 100px;
}
.categorie {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cat2,
.cat3,
.cat4 {
  margin-left: 25px;
}
.cat1,
.cat2,
.cat3,
.cat4 {
  background: #fff;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}
.categorie img {
  height: 200px;
  width: 300px;
}
.categorie p,
h5 {
  margin-left: 20px;
  margin-top: 10px;
}
.categorie h5 {
  margin-bottom: 20px;
}

/* CLIENTS-SAYS */
.avis {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avisDroit{
  padding-left: 100px;
}
.avisDroit h2 {
  padding-top: 40px;
}
.stAvis{
  margin-top: 20px;
  margin-bottom: 50px;
}
.textAvis {
  padding: 40px;
  font-size: 20px;
  border: 1px solid;
  border-color: #9394a45f;
  width: 550px;
  line-height: 50px;
}
.avisDroit img {
  border-radius: 50%;
}
.william {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 50px;
}
.infoWilliam {
  padding: 10px;
}

/* GENERAL */
h4 {
  font-size: 24px;
}

.background-indigo {
  background-color: #0b1460;
  background-image: url(/asset/home/backgroundPresentationScreen.png);
  background-repeat: no-repeat;
  padding: 128px 0;
  background-position-y: 28%;
  background-position-x: 28%;
}

select {
  width: 100%;
}
form button {
  width: 100%;
  padding: 8px 0;
}
.form {
  width: 424px;
  padding: 54px 38px;
  background-color: white;
  flex-shrink: 0;
  border-radius: 10px;
}
.form h3 {
  font-size: 28px;
}
.form p {
  margin: 12px 0 28px 0;
}
.form input,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #dfdfdf;
  background-color: #f0f4ff;
  margin-bottom: 12px;
}
.background-blue {
  background-color: #2667ff;
  background-image: url(/asset/home/bg-2.png);
  padding: 100px 0;
}
button {
  color: white;
  background-color: #2667ff;
  padding: 16px 24px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
}
button i {
  margin-left: 8px;
}
.dot {
  margin-bottom: 28px;
}
.dot p {
  margin-left: 16px;
}
.lorem .background {
  background-color: #0b1460;
  background-image: url(/asset/home/bg-3.png);
  padding: 68px 0;
}
a.button i,
a.button p {
  color: white;
}
footer {
  padding-top: 60px;
}
footer p,
footer a {
  margin-bottom: 16px;
}
.mb-0 {
  margin-bottom: 0;
}
.copyright {
  background-color: #f5f9fc;
  padding: 20px 0 20px 0;
  margin: 20px 0 40px 0;
}
h4 {
  margin-bottom: 24px;
}
h2 {
  font-size: 44px;
  line-height: 120%;
}
h1 {
  font-size: 72px;
  margin-top: 118px;
}
.lorem .green {
  margin: 20px 0 32px 0;
}
h5 {
  font-size: 20px;
}
.social a {
  margin-left: 12px;
  font-size: 24px;
}
.width-presentation {
  width: 428px;
}
.width-presentation > .d-flex {
  margin-top: 28px;
  margin-bottom: 40px;
}
.width {
  width: 473px;
}
.width p {
  line-height: 168%;
  margin-bottom: 15px;
}
#contact .background-indigo {
  padding: 50px 0;
}
.number {
  font-size: 44px;
  margin: inherit;
  margin-bottom: 0 !important;
}
.background-presentation {
  background-image: url(/asset/home/blueShapePresentationSection.png),
    url(/asset/home/greenShapePresentationSection.png);
  background-repeat: no-repeat;
  background-position-y: 40px, 93%;
  width: 538px;
  flex-shrink: 0;
  display: flex;
}
.transparent {
  background-color: inherit;
  color: white;
  border: 1px solid #252c7a;
}
.fa-chart-bar {
  font-size: 40px;
}
.presentation p.green {
  margin: 16px 0 32px 0;
  font-weight: 600;
  font-size: 16px;
}
.presentation p {
  line-height: 150%;
  font-size: 20px;
}
.presentation p:last-child {
  font-size: 16px;
  margin-left: 20px;
}
.presentation h3 {
  font-size: 44px;
}
.background-presentation img {
  border-radius: 217px;
  margin: 0 auto;
}
.landingPage .background-indigo {
  background-image: inherit;
  padding: 15px 0;
}
nav li {
  display: inline;
}
nav ul li .active {
  color: #2667ff;
}
nav ul li {
  color: #252c7a;
  margin-right: 24px;
  font-size: 18px;
  font-weight: 600;
}
nav ul li:last-child {
  margin-right: 100px;
}
.background-landingPage {
  background-image: url(/asset/home/img-slider.png),
    url(/asset/home/bgslider.jpg);
  background-repeat: no-repeat;
  background-position-x: 100%, 0%;
  background-position-y: 163%, 0%;
  padding-top: 28px;
}
.landingPage .width p {
  margin: 24px 0;
}
.landingPage .width button {
  margin-bottom: 228px;
}
.article {
  width: 320px;
}
.blog {
  padding: 140px 0;
}
.blog .subtitle {
  margin: 40px 0 80px 0;
}
.article h3 {
  font-size: 24px;
}
.article .justify-start {
  margin: 20px 0 40px 0;
}
.article .justify-start i {
  margin-right: 8px;
}
.article .description {
  line-height: 150%;
  margin: 24px 0;
}
.article button {
  color: #0b1460;
  background-color: #d9e0f4;
}
