html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
h4 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: inherit;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.column {
  flex-direction: column;
}
.t-center {
  text-align: center;
}
.main-container {
  width: 1280px;
  margin: 0 auto;
}
.primary-color {
  color: #0b1460;
}
.secondary-color {
  color: #2667ff;
}
.tertiary-color {
  color: #707185;
}
footer p,
footer a {
  margin-bottom: 16px;
}
.mb-0 {
  margin-bottom: 0;
}
.copyright {
  background-color: #f5f9fc;
  padding: 20px 0 20px 0;
  margin: 20px 0 40px 0;
}
h4 {
  margin-bottom: 24px;
}
h5 {
  font-size: 20px;
}
