html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* SERVICES */
.services{
  text-align: center;
}
.services p{
  margin-top: 15px;
}
.content{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.carteGauche{
  display: flex;
  flex-direction: column;
}
.carteDroite{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.carte{
  border-radius: 10% 10%;
  height: 200px;
  width: 180px;
}
.carte img{
  margin-top: 20px;
}
.carte1{
  background: #FFFCF5;
}
.carte2{
  background: #FFF7FC;
  margin-top: 10px;
}
.carte3{
  background: #FFF8F5;
}
.carte4{
  background: #F5F9FC;
  margin-top: 10px;
}
.sectionServicesIllustration{
  max-width: 300px;
  margin-left: 50px;
}
=======
* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
h4 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: inherit;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-start {
  justify-content: flex-start;
}
.column {
  flex-direction: column;
}
.t-center {
  text-align: center;
}
.main-container {
  width: 1140px;
  margin: 0 auto;
}
.primary-color {
  color: #0b1460;
}
.secondary-color {
  color: #2667ff;
}
.tertiary-color {
  color: #707185;
}
.white {
  color: #ffffff;
}
.yellow {
  color: #ffc600;
}
.green {
  color: #07f6bd;
}
button {
  color: white;
  background-color: #2667ff;
  padding: 16px 24px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
}
button i {
  margin-left: 8px;
}
.dot {
  margin-bottom: 28px;
}
.dot p {
  margin-left: 16px;
}
.lorem .background {
  background-color: #0b1460;
  background-image: url(/asset/home/bg-3.png);
  padding: 68px 0;
}
a.button i,
a.button p {
  color: white;
}
footer {
  padding-top: 60px;
}
footer p,
footer a {
  margin-bottom: 16px;
}
.mb-0 {
  margin-bottom: 0;
}
.copyright {
  background-color: #f5f9fc;
  padding: 20px 0 20px 0;
  margin: 20px 0 40px 0;
}
h4 {
  margin-bottom: 24px;
}
h2 {
  font-size: 44px;
  line-height: 120%;
}
.lorem .green {
  margin: 20px 0 32px 0;
}
h5 {
  font-size: 20px;
}
.social a {
  margin-left: 12px;
  font-size: 24px;
}
