<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet Intération</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,600&family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <div class="background-indigo">
      <p class="t-center white entete">Toujours plus fort.</p>
    </div>
    <header class="main-header">
      <div class="main-container">
        <div class="d-flex align-start">
          <div>
            <img src="../asset/header/logo.png" alt="" />
          </div>
          <div class="d-flex">
            <nav>
              <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="presentation.html"> A propos</a></li>
                <li><a href="#" class="active"> FAQ</a></li>
              </ul>
            </nav>
            <button class="button" href="#">
              <div class="d-flex justify-center">
                Contact<i class="fas fa-arrow-right"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="d-flex indication">
          <h1 class="primary-color">Faq</h1>
          <div class="d-flex">
            <p>Accueil</p>
            <i class="fas fa-arrow-right"></i>
            <p>FAQ</p>
          </div>
        </div>
      </div>
    </header>

    <div class="d-flex"></div>
    <div class="background-faq t-center">
      <div class="small-container">
        <h2 class="t-center primary-color">Our Asked Questions</h2>
        <p class="secondary-color subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="display-content">
          <div class="d-flex primary-color">
            How To Gain Knowladge About ?
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq tertiary-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Benefit of Digital Marketing ?
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Business Development Most Reasons?
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Improve Performance and Efficiency
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Business Development Most Reasons?
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Improve Performance and Efficiency
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Business Development Most Reasons ?
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Improve Performance and Efficiency
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Business Development Most Reasons ?
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
        <button class="display-content">
          <div class="d-flex">
            Improve Performance and Efficiency
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <div class="content-faq d-none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
          ab nihil quae eaque fuga. Hic provident, quod, expedita similique,
          sequi maiores fuga eaque quisquam quibusdam asperiores nisi molestias
          at.
        </div>
      </div>
      <div class="content-contact">
        <div class="d-flex justify-end">
          <div>
            <img src="../asset/faq/img_Faq-PZZ7885.jpg" alt="" />
          </div>
          <div class="background-grey width-contact">
            <h4 class="t-left primary-color">Contact</h4>
            <p class="small-title t-left tertiary-color">Testing</p>
            <form action="">
              <input type="text" placeholder="Full Name" />
              <input type="text" placeholder="Email Adress" />
              <input type="text" placeholder="Phone Number" />
              <select name="" id="" class="primary-color">
                <option value="">Subject</option>
                <option value="">1</option>
                <option value="">2</option>
              </select>
              <div class="align">
                <button class="button" href="#">
                  <div class="d-flex justify-center">
                    Contact<i class="fas fa-arrow-right"></i>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <section class="lorem">
      <div class="background">
        <div class="main-container">
          <div class="d-flex">
            <div class="white">
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
              <p class="green">
                orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus
              </p>
              <div class="d-flex dot justify-start">
                <i class="far fa-dot-circle yellow"></i>
                <p>update info</p>
              </div>
              <button class="button" href="#">
                <div class="d-flex">
                  Contact<i class="fas fa-arrow-right"></i>
                </div>
              </button>
            </div>
            <img src="../asset/home/loremSection.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="main-container">
        <div class="d-flex align-start">
          <div class="d-flex align-start">
            <div>
              <h4 class="primary-color">Menu1</h4>
              <p class="primary-color">Phone Number</p>
              <div class="d-flex">
                <i class="fas fa-phone-volume secondary-color"></i>
                <p class="secondary-color mb-0">+33 12 23 45 56</p>
              </div>
            </div>
            <div>
              <h4 class="primary-color">Menu2</h4>
              <p class="tertiary-color">55 Queensberry Street, North VIC</p>
              <p class="tertiary-color">3051, Autralia</p>
              <p class="tertiary-color mb-0">support @qolleinfo.com</p>
            </div>
          </div>
          <div class="d-flex align-start">
            <div class="d-flex column">
              <h4 class="primary-color">Menu3</h4>
              <a href="#" class="tertiary-color">Lien 1</a>
              <a href="#" class="tertiary-color">Lien 2</a>
              <a href="#" class="tertiary-color mb-0">Lien 3</a>
            </div>
            <div>
              <h4 class="primary-color">Menu4</h4>
              <p class="tertiary-color">
                Dolor sit amet consectetur adipiscing
              </p>

              <div class="d-flex justify-start social">
                <h5 class="primary-color">Follow</h5>
                <a class="mb-0" href=""
                  ><i class="fab fa-facebook-square secondary-color"></i
                ></a>
                <a class="mb-0" href=""
                  ><i class="fab fa-twitter-square primary-color"></i
                ></a>
                <a class="mb-0" href=""><i class="fab fa-linkedin"></i></a>
                <a class="mb-0" href=""
                  ><i class="fab fa-behance-square primary-color"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <p class="t-center copyright tertiary-color">
          Copyright @2021 Qolle All right Reserve
        </p>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/96626c594d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
