<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,600&family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <div class="background-indigo">
      <p class="t-center white entete">Toujours plus fort.</p>
    </div>
    <header class="main-header">
      <div class="main-container">
        <div class="d-flex align-start">
          <div>
            <img src="../asset/header/logo.png" alt="" />
          </div>
          <div class="d-flex">
            <nav>
              <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="#" class="active"> A propos</a></li>
                <li><a href="../view/faq.html"> FAQ</a></li>
              </ul>
            </nav>
            <button class="button" href="#">
              <div class="d-flex justify-center">
                Contact<i class="fas fa-arrow-right"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="d-flex indication">
          <h1>A propos</h1>
          <div class="d-flex">
            <p>Accueil</p>
            <i class="fas fa-arrow-right"></i>
            <p>A propos</p>
          </div>
        </div>
      </div>
    </header>
    <section class="illustration">
      <div class="main-container">
        <div class="d-flex">
          <div>
            <h2>Etiam pulvinar finibus elementum</h2>
            <p class="secondary-color lorem">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              nam facere minima dicta? Soluta alias veniam vero exercitationem!
            </p>
            <div class="d-flex description test">
              <i class="fas fa-crop-alt secondary-color"></i>
              <div>
                <h6>Etiam pulvinar</h6>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus fuga voluptas, in aperiam eius ex aut.
                </p>
              </div>
            </div>
            <div class="d-flex description">
              <i class="fas fa-crop-alt secondary-color"></i>
              <div>
                <h6>Finibus elementum</h6>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus fuga voluptas, in aperiam eius ex aut.
                </p>
              </div>
            </div>
            <button class="button" href="#">
              <div class="d-flex justify-center">
                start a project<i class="fas fa-arrow-right"></i>
              </div>
            </button>
          </div>
          <div>
            <img src="../asset/presentation/feature-illustration.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="work background-blue">
      <div class="main-container">
        <div class="t-center white">
          <h2>Services We Provide</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
        </div>
        <div class="d-flex">
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s1.png" alt="" />
              <div>
                <h3>Service 1</h3>
                <p>Amet consectetur adipi scing elit sed eiusmod tempor</p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s2.png" alt="" />
              <div>
                <h3>Service 1</h3>
                <p>Amet consectetur adipi scing elit sed eiusmod tempor</p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s3.png" alt="" />
              <div>
                <h3>Service 1</h3>
                <p>Amet consectetur adipi scing elit sed eiusmod tempor</p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s4.png" alt="" />
              <div>
                <h3>Service 1</h3>
                <p>Amet consectetur adipi scing elit sed eiusmod tempor</p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s5.png" alt="" />
              <div>
                <h3>Service 1</h3>
                <p>Amet consectetur adipi scing elit sed eiusmod tempor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="company">
      <div class="main-container">
        <div class="d-flex absolute">
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/bernard.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/alex.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/julie.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/phillipe.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/jean.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/pierre.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/moussa.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/arthur.jpg" alt=" " />
            <div class="t-center">
              <h4>G. Lundy</h4>
              <h5 class="blue">Senior Manager</h5>
            </div>
          </div>
        </div>
        <div class="stats white background-blue">
          <div class="d-flex">
            <div class="t-left">
              <h3>156+</h3>
              <p>Number 1</p>
            </div>
            <div class="t-left">
              <h3>7856</h3>
              <p>Number 2</p>
            </div>
            <div class="t-left">
              <h3>25+</h3>
              <p>Number 3</p>
            </div>
            <div class="t-left">
              <h3>8563</h3>
              <p>Number 4</p>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="main-container">
            <div class="d-flex">
              <div>
                <h2>Frequently Asked Questions</h2>
                <p class="secondary-color">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <button class="display-content">
                  <div class="d-flex">
                    Benefit of Digital Marketing ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
                <button class="display-content">
                  <div class="d-flex">
                    Benefit of Digital Marketing ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq d-none">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
                <button class="display-content">
                  <div class="d-flex">
                    Benefit of Digital Marketing ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq d-none">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
                <button class="display-content">
                  <div class="d-flex">
                    Benefit of Digital Marketing ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
              </div>
              <div class="background">
                <img
                  src="../asset/presentation/img_faq_About-8G4TTB6.jpg"
                  alt=""
                />
                <div class="absolute-image first">
                  <img
                    src="../asset/presentation/background/shape-10.png"
                    alt=""
                  />
                </div>
                <div class="absolute-image second">
                  <img
                    src="../asset/presentation/background/shape-7.png"
                    alt=""
                  />
                </div>
                <div class="absolute-image third">
                  <img
                    src="../asset/presentation/background/shape-8.png"
                    alt=""
                  />
                </div>
                <div class="absolute-image fourth">
                  <img
                    src="../asset/presentation/background/shape-9.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://kit.fontawesome.com/96626c594d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
