<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet Intégration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,600&family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/hamburger.css" />
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <div class="background-indigo">
      <p class="t-center white entete">Toujours plus fort.</p>
    </div>
    <header class="main-header">
      <div class="main-container">
        <div class="d-flex align-start">
          <div>
            <img src="../asset/header/logo.png" alt="" />
          </div>
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div class="d-flex nav">
            <nav>
              <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="#" class="active"> A propos</a></li>
                <li><a href="../view/faq.html"> FAQ</a></li>
              </ul>
            </nav>
            <button class="button" href="#">
              <div class="d-flex justify-center">
                Contact<i class="fas fa-arrow-right"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="secondary-nav d-none">
          <div class="d-flex">
            <button class="active">
              <div class="d-flex">
                Home
                <i class="fas fa-chevron-down"></i>
              </div>
            </button>
            <button>
              <div class="d-flex">
                How it's works
                <i class="fas fa-chevron-down"></i>
              </div>
            </button>
            <button>About us</button>
            <button>pricing</button>
            <button>Blog</button>
            <button>
              <div class="d-flex">
                Pages
                <i class="fas fa-chevron-down"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="d-flex indication">
          <h1 class="primary-color">A propos</h1>
          <div class="d-flex primary-color">
            <p>Accueil</p>
            <i class="fas fa-arrow-right"></i>
            <p>A propos</p>
          </div>
        </div>
      </div>
    </header>
    <section class="illustration">
      <div class="main-container">
        <div class="d-flex">
          <div>
            <h2 class="primary-color">Etiam pulvinar finibus elementum</h2>
            <p class="secondary-color lorem">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="tertiary-color">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              nam facere minima dicta? Soluta alias veniam vero exercitationem!
            </p>
            <div class="d-flex description test">
              <i class="fas fa-crop-alt secondary-color"></i>
              <div>
                <h6 class="primary-color">Etiam pulvinar</h6>
                <p class="tertiary-color">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus fuga voluptas, in aperiam eius ex aut.
                </p>
              </div>
            </div>
            <div class="d-flex description">
              <i class="fas fa-crop-alt secondary-color"></i>
              <div>
                <h6 class="primary-color">Finibus elementum</h6>
                <p class="tertiary-color">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus fuga voluptas, in aperiam eius ex aut.
                </p>
              </div>
            </div>
            <button class="button" href="#">
              <div class="d-flex justify-center">
                start a project<i class="fas fa-arrow-right"></i>
              </div>
            </button>
          </div>
          <div>
            <img src="../asset/presentation/feature-illustration.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="work background-blue">
      <div class="main-container">
        <div class="t-center white">
          <h2>Services We Provide</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
        </div>
        <div class="d-flex">
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s1.png" alt="" />
              <div>
                <h3 class="primary-color">Service 1</h3>
                <p class="tertiary-color">
                  Amet consectetur adipi scing elit sed eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s2.png" alt="" />
              <div>
                <h3 class="primary-color">Service 2</h3>
                <p class="tertiary-color">
                  Amet consectetur adipi scing elit sed eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s3.png" alt="" />
              <div>
                <h3 class="primary-color">Service 3</h3>
                <p class="tertiary-color">
                  Amet consectetur adipi scing elit sed eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s4.png" alt="" />
              <div>
                <h3 class="primary-color">Service 4</h3>
                <p class="tertiary-color">
                  Amet consectetur adipi scing elit sed eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="card-service">
            <div class="d-flex">
              <img src="../asset/presentation/icon/s5.png" alt="" />
              <div>
                <h3 class="primary-color">Service 5</h3>
                <p class="tertiary-color">
                  Amet consectetur adipi scing elit sed eiusmod tempor
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="company">
      <div class="main-container">
        <div class="d-flex absolute">
          <div class="small-card">
            <img
              src="../asset/presentation/profilPicture/bernard.jpg"
              alt=" "
            />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/alex.jpg" alt=" " />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/julie.jpg" alt=" " />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img
              src="../asset/presentation/profilPicture/phillipe.jpg"
              alt=" "
            />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
        </div>
        <div class="d-flex test1">
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/jean.jpg" alt=" " />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/pierre.jpg" alt=" " />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/moussa.jpg" alt=" " />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
          <div class="small-card">
            <img src="../asset/presentation/profilPicture/arthur.jpg" alt=" " />
            <div class="t-center">
              <h4 class="primary-color">G. Lundy</h4>
              <h5 class="secondary-color">Senior Manager</h5>
            </div>
          </div>
        </div>
        <div class="stats white background-blue">
          <div class="d-flex">
            <div class="t-left">
              <h3>156+</h3>
              <p>Number 1</p>
            </div>
            <div class="t-left">
              <h3>7856</h3>
              <p>Number 2</p>
            </div>
            <div class="t-left">
              <h3>25+</h3>
              <p>Number 3</p>
            </div>
            <div class="t-left">
              <h3>8563</h3>
              <p>Number 4</p>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="main-container">
            <div class="d-flex">
              <div>
                <h2 class="primary-color">Frequently Asked Questions</h2>
                <p class="secondary-color">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <button class="display-content selected" value="1">
                  <div class="d-flex">
                    How To Gain Knowladge About ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq tertiary-color" id="1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
                <button class="display-content" value="2">
                  <div class="d-flex">
                    Benefit of Digital Marketing ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq d-none" id="2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
                <button class="display-content" value="3">
                  <div class="d-flex">
                    Business Develepment Most reasons ?
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq d-none" id="3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
                <button class="display-content" value="4">
                  <div class="d-flex">
                    Improve Performance and Efficiency
                    <i class="fas fa-plus"></i>
                  </div>
                </button>
                <div class="content-faq d-none" id="4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  suscipit ab nihil quae eaque fuga. Hic provident, quod,
                  expedita similique, sequi maiores fuga eaque quisquam
                  quibusdam asperiores nisi molestias at.
                </div>
              </div>
              <div class="background">
                <img
                  src="../asset/presentation/img_faq_About-8G4TTB6.jpg"
                  alt=""
                />
                <div class="absolute-image first">
                  <img
                    src="../asset/presentation/background/shape-10.png"
                    alt=""
                  />
                </div>
                <div class="absolute-image second">
                  <img
                    src="../asset/presentation/background/shape-7.png"
                    alt=""
                  />
                </div>
                <div class="absolute-image third">
                  <img
                    src="../asset/presentation/background/shape-8.png"
                    alt=""
                  />
                </div>
                <div class="absolute-image fourth">
                  <img
                    src="../asset/presentation/background/shape-9.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lorem">
      <div class="background">
        <div class="main-container">
          <div class="d-flex">
            <div class="white">
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
              <p class="green">
                orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus
              </p>
              <div class="d-flex dot justify-start">
                <i class="far fa-dot-circle yellow"></i>
                <p>update info</p>
              </div>
              <button class="button" href="#">
                <div class="d-flex">
                  Contact<i class="fas fa-arrow-right"></i>
                </div>
              </button>
            </div>
            <img src="../asset/home/loremSection.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="main-container">
        <div class="d-flex align-start">
          <div>
            <h4 class="primary-color">Menu1</h4>
            <p class="primary-color">Phone Number</p>
            <div class="d-flex">
              <i class="fas fa-phone-volume secondary-color"></i>
              <p class="secondary-color mb-0">+33 12 23 45 56</p>
            </div>
          </div>

          <div>
            <h4 class="primary-color">Menu2</h4>
            <p class="tertiary-color">55 Queensberry Street, North VIC</p>
            <p class="tertiary-color">3051, Autralia</p>
            <p class="tertiary-color mb-0">support @qolleinfo.com</p>
          </div>

          <div class="d-flex column">
            <h4 class="primary-color">Menu3</h4>
            <a href="#" class="tertiary-color">Lien 1</a>
            <a href="#" class="tertiary-color">Lien 2</a>
            <a href="#" class="tertiary-color mb-0">Lien 3</a>
          </div>
          <div>
            <h4 class="primary-color">Menu4</h4>
            <p class="tertiary-color">Dolor sit amet consectetur adipisci</p>

            <div class="d-flex justify-start social">
              <h5 class="primary-color">Follow</h5>
              <a class="mb-0" href=""
                ><i class="fab fa-facebook-square secondary-color"></i
              ></a>
              <a class="mb-0" href=""
                ><i class="fab fa-twitter-square primary-color"></i
              ></a>
              <a class="mb-0" href=""><i class="fab fa-linkedin"></i></a>
              <a class="mb-0" href=""
                ><i class="fab fa-behance-square primary-color"></i
              ></a>
            </div>
          </div>
        </div>
        <p class="t-center copyright tertiary-color">
          Copyright @2021 Qolle All right Reserve
        </p>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/96626c594d.js"
      crossorigin="anonymous"
    ></script>
    <script src="/script/main.js"></script>
  </body>
</html>
